# Rust
Cargo.lock
/target

# wasm
*/pkg

# local IDE configs
/.idea
/.vscode

# ignore csv & svg files in root directory
/*.csv
/*.svg

# ignore wild vtk files
*.vtk
!/honeycomb-examples/examples/io/*.vtk

# ignore coverage-related files
*.profraw
*.lcov