# Rust
Cargo.lock
/target

# wasm
*/pkg

# local IDE configs
/.idea
/.vscode

# Python
/venv

# ignore csv, svg, txt files in root directory
/*.csv
/*.svg
/*.txt

# ignore wild vtk files
*.vtk
!/assets/*.vtk
!/examples/shape.vtk

# ignore coverage-related files
*.profraw
*.lcov

# ignore perf files
perf.data
perf.data.old

# ignore heaptrack files
*.zst

# ignore bench result directories
/fixed
/grid
/thread