name: Build Status (*nix)

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    name: Build (${{ matrix.system }})
    runs-on: ${{ matrix.runner_label }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - system: x86_64-linux
            runner_label: ubuntu-latest
          - system: x86_64-darwin
            runner_label: macos-15-intel
          - system: aarch64-darwin
            runner_label: macos-latest

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: Install hwloc
        run: |
          if [ "${{ matrix.runner_label }}" = "macos-15-intel" ] || [ "${{ matrix.runner_label }}" = "macos-latest" ]; then
            brew update && brew install hwloc
          else
            sudo apt-get update && sudo apt-get install -y libhwloc-dev libudev-dev
          fi
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - name: Build crates
        run: cargo build --all-targets
  build_all_features:
    name: Build (${{ matrix.system }}, all features enabled)
    runs-on: ${{ matrix.runner_label }}

    strategy:
      fail-fast: false
      matrix:
        include:
          - system: x86_64-linux
            runner_label: ubuntu-latest
          - system: x86_64-darwin
            runner_label: macos-13
          - system: aarch64-darwin
            runner_label: macos-latest

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive
      - name: Install hwloc
        run: |
          if [ "${{ matrix.runner_label }}" = "macos-15-intel" ] || [ "${{ matrix.runner_label }}" = "macos-latest" ]; then
            brew update && brew install hwloc
          else
            sudo apt-get update && sudo apt-get install -y libhwloc-dev libudev-dev
          fi
      - uses: dtolnay/rust-toolchain@stable
      - uses: Swatinem/rust-cache@v2
      - name: Build crates
        run: cargo build --all-targets --features=jemalloc,par-internals,render
