name: spell check typos

# only run most recent workflow in branch
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  pull_request:
    types: [ opened, reopened, synchronize ]

permissions: read-all

jobs:
  spell-check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - name: Run typos spell check
      uses: crate-ci/typos@v1.40.0
      with:
        config: ./.typos.toml
